# Options for both C and C++
CompileFlags:
  Add: [
      -std=c++20,
      -Wall,
      -Wextra,
      -I../include,
      -xc++,
      -I.,
      -ferror-limit=0,
      -fstack-protector-strong,
      -fprebuilt-module-path=.,
      ]

Index:
  Background: Build
  StandardLibrary: Yes

Diagnostics:
  ClangTidy:
    Add: [
    # https://clang.llvm.org/extra/clang-tidy/checks/list.html
      performance*,
      readability*,
      modernize*,
      bugprone*,
      concurrency*,
      darwin*,
      misc*, # this one's a lilttle suspect
      cppcoreguidelines*,
      portability*,
      ]
    Remove: [
      modernize-use-trailing-return-type,
      readability-identifier-length,
      bugprone-easily-swappable-parameters,
      readability-magic-numbers,

      # cppcoreguidelines-owning-memory,
      # cppcoreguidelines-pro-bounds-pointer-arithmetic, # do not use ptr arithmetic bruh
      # cppcoreguidelines-avoid-magic-numbers, # nAmEd CoNsTanT

      ]

Hover:
  ShowAKA: true

